<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">
<title>Ingstagram</title>

<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
<link rel="icon" type="image/x-icon" th:href="@{'/assets/favicon/instagram-favicon.svg'}" />
<link rel="stylesheet" th:href="@{'/assets/css/ingstagram.css'}" />
<link rel="stylesheet" th:href="@{'/assets/css/loading.css'}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
	<div th:replace="~{fragments/loading :: loading}"></div>
	<section>
		<main>
			<article class="flex-article">
				<div class="phone">
					<img alt="" th:src="@{'/assets/img/phone.png'}">
					<img class="slide-img" th:src="@{'/assets/img/slide1.png'}" style="display: block">
					<img class="slide-img" th:src="@{'/assets/img/slide2.png'}">
					<img class="slide-img" th:src="@{'/assets/img/slide3.png'}">
					<img class="slide-img" th:src="@{'/assets/img/slide4.png'}">
				</div>
				<!-- login-form -->
				<div class="_ab1y">
					<div class="_ab21">
						<div class="logo-txt-area" aria-disabled="false" role="button">
							<img class="logo-text" th:src="@{'/assets/img/logo-text.png'}" alt="Logo" />
						</div>
						<div class="_ab3a">
							<form class="_ab3a flex2" name="login" method="post" action="loginProcess">
								<div class="flex login-area">
									<input type="text" class="login-input id" name="id" placeholder="전화번호, 사용자 이름 또는 이메일"> 
									<input type="password" class="login-input password" name="pw" placeholder="비밀번호">
									<div class="submit">
										<button type="submit" class="submit-btn">로그인</button>
									</div>									
									<div class="or">
										<div class="line"></div>
										<div class="or-text">또는</div>
										<div class="line"></div>
									</div>									
									<div class="facebook-login">
										<button class="submit-facebook">
											<img class="facebook-icon" th:src="@{'/assets/img/facebook.svg'}">
											<span class="facebook-txt">Facebook으로 로그인</span>
										</button>
									</div>									
			
									<div th:if="error">
   									<p id="valid" style="color: red; font-size:12px;"><a th:text="${exception}"></a></p>
									</div>					
								</div>		
									<a class="forgot-pw" href="#"><span class="forgot-pw-txt">비밀번호를 잊으셨나요?</span></a>
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</div>
					</div>					
					<div class="_ab21">
						<span class="join">
							<p class="signup-txt">계정이 없으신가요? <a class="go-signup" th:href="@{'/account/signup'}">가입하기</a></p>
						</span>
					</div>					
				</div>
				<!-- login-form end-->
			</article>
		</main>
	</section>
	<footer></footer>
	
	<script type="text/javascript" th:src="@{'/assets/js/ingstagram.js'}"></script>
	<script type="text/javascript" th:src="@{'/assets/js/loading.js'}"></script>

</body>
</html>