<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>로그인</title>

<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}" />
<link rel="icon" type="image/x-icon" th:href="@{'/assets/favicon/instagram-favicon.svg'}" />
<link rel="stylesheet" th:href="@{'/assets/css/ingstagram.css'}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style type="text/css">
	body{
		height: 100vh
	}
	.flex-center{
		display: flex;
		justify-content: center
	}
</style>
</head>
<body>
	<!-- login-form -->
	<div class="flex-center">
		<div class="_ab1y">
			<div class="_ab21">
				<div class="logo-txt-area" aria-disabled="false" role="button">
					<img class="logo-text" th:src="@{'/assets/img/logo-text.png'}" alt="Logo" />
				</div>

				<div class="_ab3a">
					<form class="_ab3a flex2" action="">
						<div class="flex login-area">
							<input type="text" class="login-input" placeholder="전화번호, 사용자 이름 또는 이메일">
							<input type="password" class="login-input" placeholder="비밀번호">		
							<div class="submit">
								<button class="submit-btn">로그인</button>
							</div>

							<div class="or">
								<div class="line"></div>
								<div class="or-text">또는</div>
								<div class="line"></div>
							</div>

							<div class="facebook-login">
								<button class="submit-facebook">
									<img class="facebook-icon" th:src="@{'/assets/img/facebook.svg'}">
										<span class="facebook-txt">Facebook으로 로그인</span>
								</button>
							</div>

						</div>
						<a class="forgot-pw" href="#"><span class="forgot-pw-txt">비밀번호를 잊으셨나요?</span></a>
					</form>
				</div>
			</div>

			<div class="_ab21">
				<span class="join">
					<p class="join-txt">
						계정이 없으신가요? <a class="go-join" href="#">가입하기</a>
					</p>
				</span>
			</div>

		</div>
	</div>
	<!-- login-form end-->
</body>
</html>